/*
 * [ settings / icon ]
 */

// -----------------------------------------------------------------------------

$icons: (
        lab: 'e900',
        react: 'e901',
        trash: 'e902',
        home: 'e903',
        card: 'e904',
        facebook: 'e905',
        garantied: 'e906',
        handshake: 'e907',
        quote: 'e908',
        instagram: 'e909',
        arrow-top-light: 'e90a',
        arrow-right-light: 'e90b',
        plus: 'e90c',
        arrow-bottom: 'e90d',
        arrow-top: 'e90e',
        arrow-right: 'e90f',
        arrow-left: 'e910',
        angle-top: 'e911',
        angle-right: 'e912',
        angle-left: 'e913',
        angle-bottom: 'e914',
        check: 'e915',
        star-half: 'e916',
        minus: 'e917',
        cancel: 'e918',
        twitter: 'e919',
        facebook1: 'e91a',
        linkedin: 'e91b',
        code: 'e91c',
        search: 'e91d',
        map: 'e91e',
        basket: 'e91f',
        contact: 'e920',
        login: 'e921',
        star-empty: 'e922',
        star: 'e923',
        store: 'e924',
        phone: 'e92b',
        smartphone: 'e92c',
        menu: 'e92d',
        close-light: 'e92e',
);

@function str-unicode($str) {
    @return unquote("\"") + unquote(str-insert($str, "\\", 1)) + unquote("\"")
}

@function unicode($icon) {
    @return str-unicode(quote(map-get($icons, $icon)));
}
