/*
 * [ settings / icon ]
 */

// -----------------------------------------------------------------------------

$icons: (
    categories:'e900',
    product:'e901',
    lab:'e902',
    react:'e903',
    trash:'e904',
    home:'e905',
    card:'e906',
    facebook:'e907',
    garantied:'e908',
    handshake:'e909',
    quote:'e90a',
    instagram:'e90b',
    arrow-top-light:'e90c',
    arrow-right-light:'e90d',
    plus:'e90e',
    arrow-bottom:'e90f',
    arrow-top:'e910',
    arrow-right:'e911',
    arrow-left:'e912',
    angle-top:'e913',
    angle-right:'e914',
    angle-left:'e915',
    angle-bottom:'e916',
    check:'e917',
    star-half:'e918',
    minus:'e919',
    cancel:'e91a',
    twitter:'e91b',
    facebook1:'e91c',
    linkedin:'e91d',
    code:'e91e',
    search:'e91f',
    map:'e920',
    basket:'e921',
    contact:'e922',
    login:'e923',
    star-empty:'e924',
    star:'e925',
    store:'e926',
    filter:'e927',
    phone:'e92b',
    smartphone:'e92c',
    menu:'e92d',
    close-light:'e92e',
);

@function str-unicode($str) {
    @return unquote("\"") + unquote(str-insert($str, "\\", 1)) + unquote("\"")
}

@function unicode($icon) {
    @return str-unicode(quote(map-get($icons, $icon)));
}
