.Loader {
    border: 10px solid #fcb6b0;
    border-radius: 50%;
    border-top: 10px solid #FC766AFF;
    width: 80px;
    height: 80px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.Loader-block {
    @apply bg-gray-100;
    background: linear-gradient(
                    100deg,
                    rgba(255, 255, 255, 0) 40%,
                    rgba(255, 255, 255, .5) 50%,
                    rgba(255, 255, 255, 0) 60%
    ) theme('colors.gray.100');
    background-size: 200% 100%;
    background-position-x: 180%;
    animation: 1s bg-loading ease-in-out infinite;
}

@keyframes bg-loading {
    to {
        background-position-x: -20%;
    }
}
