/*
 * [ base / default ]
 */

// -----------------------------------------------------------------------------

body,
html {
    min-width: 320px;
}

html {
    overflow-x: hidden;
}

body {
    overflow: hidden;
    @apply text-gray-500;
}

.App {
    @apply text-base bg-gray-50 text-gray-600;
    min-height: 100vh;
}
