/*
 * [ base / default ]
 */

// -----------------------------------------------------------------------------

body,
html {
    min-width: 320px;
}

html {
    overflow-x: hidden;
}

body {
    overflow: hidden;
    @apply text-gray-500;
}

.App {
    background-color: #eeeeee;
    @apply text-base text-gray-600;
    min-height: 100vh;
}

.App-logo {
    height: 20vmin;
    @apply mx-auto;
}
