.App {
    background-color: #eeeeee;
    @apply text-base text-center text-primary-base;
    min-height: 100vh;
}

.App-logo {
    height: 20vmin;
    @apply mx-auto;
}

.box-shadow-inset-2 {
    box-shadow: inset 2px 2px #61dafb, inset -2px -2px #61dafb;
}

.box-shadow-inset-3 {
    box-shadow: inset 3px 3px #61dafb, inset -3px -3px #61dafb;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
